.container
  .row
    .col-md-4
      a.btn.btn-facebook(href='', ng-click='loginOauth("facebook")')
        i.fa.fa-facebook
        |  Connect with Facebook
    .col-md-4
      a.btn.btn-google-plus(href='', ng-click='loginOauth("google")')
        i.fa.fa-google-plus
        |  Connect with Google+
    .col-md-4
      a.btn.btn-twitter(href='', ng-click='loginOauth("twitter")')
        i.fa.fa-twitter
        |  Connect with Twitter
