div(ng-include='"components/navbar/navbar.html"')

header#banner
    .container
        h1 Minitwr
        p.lead Yet another twitter clone... the angry one
        img(src='assets/images/angry-face-256.png', alt='red')

        p.lead Are you angry?
        a.btn.btn-danger.btn-lg(href='/tweets') Yes, take me in

div(ng-include='"components/footer/footer.html"')
