html {
  height: 100%;
}

body {
  background: #110000;
  color: white;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 2px 0 #0000ffff;
  background: #d80230;
}

