@backgroundColor: #45070b;
@borderColor: lighten(@backgroundColor, 5%);
@borderRadius: 7px;

.tweet-container {
  .container;
  max-width: 700px;
  min-width: 300px;
}

.tweet-list-group {
  .list-group; /*bootstrap*/
}

.tweet-list-group-item {
  .list-group-item;  /*bootstrap*/
  background-color: @backgroundColor;
  border: 1px solid @borderColor;
}

.tweet-list-group-header-item {
  .tweet-list-group-item;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 100;
}

.tweet-textarea {
  resize: none;
}

.tweet-list-item.ng-enter {
  animation: slideInDown 1s;
}

.tweet-list-item.ng-leave {
  animation: slideOutUp 1s;
}

.img-thumbnail {
  padding: 2px;
  box-shadow: 0 0 10px black;
}

span.tweet-content {
  vertical-align: top;
  margin-right: auto;
  margin-left: 20px;
}
