div(ng-include='"components/navbar/navbar.html"')

.tweet-container
  ul.tweet-list-group
    li.tweet-list-group-item.tweet-list-group-header-item
      form.tweet-form
        .input-group
          textarea.form-control.tweet-textarea(type='textarea', rows='2',
          placeholder="What's on your mind?", ng-model='tweetText', msd-elastic="\n")
          .btn.btn-danger.input-group-addon(type='submit',
          ng-click='addTweet()', ng-disabled='isTweetValid()')
            | Tweet

    li.tweet-list-item.list-group-item.tweet-list-group-item(
    ng-repeat="tweet in tweets | orderBy:'-timestamp'"
    )
      p {{tweet.user.name}} {{tweet.timestamp | date:'medium' }}
      p {{tweet.text}}



div(ng-include='"components/footer/footer.html"')
